[submodule "Ynion/vendor/spdlog"]
	path = Ynion/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Ynion/vendor/GLFW"]
	path = Ynion/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Ynion/vendor/imgui"]
	path = Ynion/vendor/imgui
	url = https://github.com/TheCherno/imgui
