[submodule "Ynion/vendor/spdlog"]
	path = Ynion/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Ynion/vendor/GLFW"]
	path = Ynion/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Ynion/vendor/imgui"]
	path = Ynion/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Ynion/vendor/glm"]
	path = Ynion/vendor/glm
	url = http://github.com/g-truc/glm
[submodule "Ynion/vendor/yaml-cpp"]
	path = Ynion/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp.git
[submodule "Ynion/vendor/ImGuizmo"]
	path = Ynion/vendor/ImGuizmo
	url = https://github.com/TheCherno/ImGuizmo
[submodule "Ynion/vendor/Box2D"]
	path = Ynion/vendor/Box2D
	url = https://github.com/TheCherno/box2d.git
